:root {
    /* Variables */
    --ColorPrincipal: ;
    --ColorSecundario: ;
    --ColorClaro: #fffdfd;

    --MargenL: 3rem;
    --MargenM: 2rem;
    --MargenS: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--ColorClaro);
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 90%;
    width: 75rem;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/* Menu Hamburguesa */

.bars {
    width: 1.875rem;
    height: 1.875rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    border: none;
}

.bars span {
    width: 100%;
    height: .1875rem;
    border-radius: .1875rem;
    background-color: var(--ColorClaro);
    transform-origin: 0px 100%;
    transition: all .3s;
}

.bars__lineBar1--active {
    transform: rotate(45deg) translate(-0.125rem, .0625rem);
}

.bars__lineBar2--active {
    margin-left: -30px;
    opacity: 0;
}

.bars__lineBar3--active {
    transform: rotate(-45deg) translate(-0.0625rem, 0);
}

/* Menu Responsive */

.responsiveMenu {
    position: absolute;
    top: 4rem;
    right: 0%;
    width: 1px;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
    z-index: 10;
}

.responsiveMenu--active {
    display: flex;
    width: 60%;
    background-color: red;
}

/* Home */

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home__title {
    width: 100%;
    position: absolute;
    top: 15%;
    letter-spacing: 5px;
    font-size: 3.5rem;
    z-index: 5;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.cover__img {
    object-position: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Main */

.main {
    width: 100%;
    padding: var(--MargenL) 0;
    display: flex;
    gap: var(--MargenL);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Beneficios */

.beneficios,
.beneficios__description {
    display: flex;
    flex-direction: column;
    gap: var(--MargenS);
    text-align: center;
}

@media (min-width: 720px) {
    .beneficios {
        flex-direction: row;
        align-items: center;
    }
    
    .beneficios__description {
        width: 50%;
        text-align: justify;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--MargenS);
}

.img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
}