:root {
    /* Variables */
    --ColorPrincipal: rgb(255, 211, 17);
    --ColorSecundario: ;
    --ColorClaro: #fffdfd;

    --MargenL: 3rem;
    --MargenM: 2rem;
    --MargenS: 16px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--ColorClaro);
    scroll-behavior: smooth; 
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 90%;
    width: 75rem;
}

.img {
    width: 100%;
    height: auto;
    border-radius: .25rem;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

/* Menu Hamburguesa */

.bars {
    width: 1.875rem;
    height: 1.875rem;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    border: none;
}

.bars span {
    width: 100%;
    height: .1875rem;
    border-radius: .1875rem;
    background-color: var(--ColorClaro);
    transform-origin: 0px 100%;
    transition: all .3s;
}

.bars__lineBar1--active {
    transform: rotate(45deg) translate(-0.125rem, .0625rem);
}

.bars__lineBar2--active {
    margin-left: -30px;
    opacity: 0;
}

.bars__lineBar3--active {
    transform: rotate(-45deg) translate(-0.0625rem, 0);
}

/* Menu Responsive */

.responsiveMenu {
    position: absolute;
    top: 4rem;
    right: 0%;
    width: 1px;
    display: none;
    flex-direction: column;
    align-items: center;
    transition: all .3s;
    z-index: 10;
}

.responsiveMenu--active {
    display: flex;
    width: 60%;
    background-color: red;
}

/* Home */

.home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.home__title {
    width: 100%;
    position: absolute;
    top: 15%;
    letter-spacing: 5px;
    font-size: 3.5rem;
    z-index: 5;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.cover__img {
    object-position: left;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Main */

.main {
    width: 100%;
    padding: var(--MargenL) 0;
    display: flex;
    gap: var(--MargenL);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Beneficios */

.beneficios,
.beneficios__description {
    display: flex;
    flex-direction: column;
    gap: var(--MargenS);
    text-align: center;
}

@media (min-width: 720px) {
    .beneficios {
        flex-direction: row;
        align-items: center;
    }
    
    .beneficios__description {
        width: 50%;
        text-align: justify;
    }
}

.list {
    display: flex;
    flex-direction: column;
    gap: var(--MargenS);
}

/* Products */

.products {
    display: flex;
    flex-direction: column;
    gap: var(--MargenM);
}

.cards{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--MargenM);
}

.card {
    position: relative;
    width: 18.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--MargenS);
    text-align: center;
    background-color: rgba(255, 255, 255, .1);
    padding: var(--MargenS);
}

@media (min-width: 700px) {
    .card {
        height: 31.25rem;
    }
}

.card__img {
    width: 100%;
    object-fit: fill;
    height: 12.5rem;
}

.btnContact {
    width: 100%;
    padding: .5rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--ColorClaro);
    border-radius: 2px;
}

@media (min-width: 700px) {
    .btnContact {
        position: absolute;
        bottom: 0;
        width: 90%;
    }
}

/* About */

.about {
    width: 100%;
    height: 28.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../Assets/Img/paneles-solares-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: saturate(110%);
}

.about__img {
    width: 100%;
}

.about__description {
    display: flex;
    gap: 9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 720px) {
    .about__description {
        gap: 3rem;
    }
}

@media (max-width: 468px) {
    .about__description {
        flex-direction: column;
    }
}

.description__subtitle {
    font-size: 1.5rem;
}

.description__number {
    color: var(--ColorPrincipal);
    font-weight: 600;
    font-size: 4rem;
}

@media (max-width: 720px) {
    .description__subtitle {
        font-size: 1rem;
    }
    .description__number {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .description__subtitle {
        font-size: 1rem;
    }
    .description__number {
        font-size: 2rem;
    }
}

@media (max-width: 468px) {
    .description__subtitle {
        font-size: 1rem;
    }
    .description__number {
        font-size: 3rem;
    }
}


/* Form */
.contact-container,
.contact {
    width: 100%;
    padding: var(--MargenM) 0;
    background-color: var(--ColorPrincipal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact__img {
    width: 100%;
    height: auto;
}

.form {
    width: 100%;
}

@media (min-width: 720px) {
    .contact-container {
        flex-direction: row;
    }
    .form {
        width: 50%;
    }
    .contact__picture {
        width: 50%;
    }
}



.fields {
    display: flex;  
    flex-direction: column;
    gap: var(--MargenS);
}

.input-field {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    width: 100%;
}

.label {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.input {
    background-color: #fdfdfd;
    padding: var(--MargenS);
    border-radius: .3125rem;
    border: none;
    color: rgba(0, 0, 0, .7);
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
}

.input .success {
    border: 1px solid #09c372;
}
.input .error {
    border: 1px solid #ff3860;
}

.btn__form {
    padding: var(--MargenS);
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 600;
    background-color: black;
    border-radius: .3125rem;
    border: none;
    transition: .3s;
}

.btn__form:hover {
    background-color: rgba(0, 0, 0, .85);
}

.contact__paragrath {
    text-align: center;
}